<h1>Help</h1>
<p>
  For any help on the Ruby on Rails Tutorial, see
  <a href="http://www.railstutorial.org/#help">Rails Tutorial help section</a>
  To get help on this sample, see the
  <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
  book</a>
</p>
